body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.judul-utama {
  text-align: center;
}

.keluarga-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.anggota {
  background-color: #e0f0ff;
  border: 0px solid #0066cc;
  color: #000;
  border-radius: 15px;
  width: 22%;
  margin: 10px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  min-width: 340px;
}

.anggota:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.ktp-header {
  text-align: center;
  font-weight: bold;
  font-size: 11px;
  margin-bottom: 10px;
  color: #000;
}

.ktp-body {
  display: flex;
  justify-content: space-between;
}

.data-ktp {
  flex-grow: 1;
  margin-right: 10px;
  word-wrap: break-word;
}

.foto-container {
  width: 80px;
  font-size: 7px;
  text-align: center;
  flex-shrink: 0;
}

.foto-container img {
  width: 100%;
  height: 110px;
  border-radius: 5px;
  object-fit: cover;
}

.data-ktp p {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 8px;
}

.data-ktp p strong {
  display: inline-block;
  width: 75px;
  vertical-align: top;
}

.alamat-detail {
  margin-left: 0;
}

.alamat-detail strong {
  text-indent: 20px;
}

@media (max-width: 1400px) {
  .anggota {
    width: 30%;
  }
}

@media (max-width: 768px) {
  .anggota {
    width: 45%;
    min-width: 0;
  }

  .ktp-body {
    flex-direction: column;
  }
  .data-ktp {
    width: 100%;
    margin-right: 0;
  }
  .foto-container {
    width: 100px;
    margin: 10px auto 0 auto;
    height: auto;
  }
  .foto-container img {
    height: 130px;
  }
  .data-ktp p {
    font-size: 9px;
  }

  .data-ktp p strong {
    display: inline;
    width: auto;
  }

  .alamat-detail {
    margin-left: 20px;
  }
  .alamat-detail strong {
    text-indent: 0;
  }
}

@media (max-width: 480px) {
  .anggota {
    width: 90%;
  }
}
